.python-version
.env
envs/
.DS_Store
__pycache__/
.idea/
docker-compose.*
Dockerfile
.gitignore
.git/
.github/
.dmypy.json
.coverage
htmlcov/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.egg-info/
.eggs/
*.tar.gz
*.whl
*.ipynb
*.bak
*.tmp
*.swp
.vscode/
tests/
test/
docs/
*.pem
*.crt
*.key
